<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <!-- <h1>Courses</h1>
    <ul>
        {% for course in courses %}
            <li>{{ course.title }} - Students: {{ course.student_count }}</li>
        {% endfor %}
    </ul>

    <h1>Average age of Student </h1>
    <ul>
        {% for course in courses %}
            <li>{{ course.title }} - Average Age: {{ course.avg_age }}</li>
        {% endfor %}
    </ul>

    <h1>Max age of student</h1>
    <ul>
        {% for course in courses %}
            <li>{{ course.title }} - Max Age: {{ course.max_age }}</li>
        {% endfor %}
    </ul>
    <h1>Sum of student</h1>
    <ul>
        {% for course in courses %}
            <li>{{ course.title }} - Max Age: {{ course.student_count }}</li>
        {% endfor %}
    </ul> -->
    
    <!-- <h1>Avg of all Students</h1>
    <p>The average age of all students is: {{ courses.avg_age }}</p>

    <h1>Sum of all Students</h1>
    <p>The Sum age of all students is: {{ courses.sum_age }}</p>

    <h1>Max of all Students</h1>
    <p>The Max age of all students is: {{ courses.max_age }}</p> -->

    <!-- <h1>Students</h1>
    <ul>
        {% for student in students %}
            <li>{{ student }}</li>
        {% endfor %}
    </ul> -->

    <!-- products.html -->
    <h1>Student List</h1>
    <table border="1">
       <tr>
           <th>Name</th>
           <th>Course</th>
           <th>Age</th>
       </tr>
       {% for student in students %}
       <tr>
           <td>{{ student.name }}</td>
           <td>{{ student.course }}</td>
           <td>{{ student.age }}</td>
       </tr>
       {% endfor %}
    </table>

</body>
</html>